@font-face
{
  font-family: ProximaThin;
  src: url(../fonts/ProximaNovaThin.otf) format("truetype");
}

body
{
	margin: 0px;
	padding: 5%;
	background-color: rgba(0, 0, 0, 0.8);
}

#logo
{
    text-align: center;
    font-family: ProximaThin;
    font-weight: bold;
    font-size: 46px;
    margin-bottom: 2%;
    letter-spacing: 2px;
}

#nav
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    font-family: ProximaThin;
    font-size: 20px;
    margin: 0% 22%;
    margin-bottom: 6%;
}

section
{
    font-family: ProximaThin;
    font-size: 24px;
    color: #B3B3B3;
}

#caption
{
    font-size: 32px;
    text-align: center;
    margin-bottom: 8%;
}

#chapter
{
    font-size: 27px;
    margin-bottom: 3%;
}


#button_top img
{
    width: 46px;
    height: 46px;
    position: fixed;
    right: 10px;
    bottom: 8px;
    cursor: pointer;
}

#button_top img:hover
{
    opacity: 0.6;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}


body::-webkit-scrollbar {
    width: 2px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(160, 160, 160);
}


#logo a:link
{
    text-decoration: none;
    color: white;
}

#logo a:visited
{
    text-decoration: none;
    color: white;
}

#logo a:hover
{
    text-decoration: none;
    color: white;
}

#nav a:link
{
    text-decoration: none;
    color: rgb(216, 216, 216);
}

#nav a:visited
{
    text-decoration: none;
    color: rgb(216, 216, 216);
}

#nav a:hover
{
    text-decoration: none;
    color: rgba(216, 216, 216, 0.4);
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}