section
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.article
{
    display: flex;
    flex-direction: column;
    font-family: ProximaThin;
    font-size: 50px;
    padding: 1%;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 0px 0.5px grey;
    max-width: 330px;
    min-width: 330px;
    min-height: 270px;
    max-height: 270px;
    overflow: visible;
    
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
}

#blog
{
    color: lightgrey;
}

.caption
{
    
    font-size: 24px;
    margin: 0px;
}

.description
{
    font-size: 22px;
    margin-top: 4%;
    margin-bottom: 2%;
    background-color: white;
    padding-left: 5px;
    overflow: hidden;
    height: 100%;
}

.article .box img
{
    width: 60px;
    height: 60px;
}

.box
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 60%;
    position: relative;
}

.author
{
    text-align: left;
    font-size: 22px;
    padding-left: 4px;
}

.tag
{
    font-size: 20px;
    color: white;
    padding: 2px 5px 2px 5px;
    position: absolute;
    bottom: 36px;
    right: 0px;
}

.date
{
    font-size: 20px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

/* TAGS */

#design_tag
{
    background-color: lightseagreen;
}

#productivity_tag
{
    background-color: orangered;
}

/* LINKS - TRANSITIONS - DECORATIONS */

.article:link
{
    text-decoration: none;
}

.article:visited
{
    text-decoration: none;
}

.article
{
    color: black;
    text-decoration: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

/* DESIGN */
    
#design:hover
{
    color: lightseagreen;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

/* PRODUCTIVITY */

#productivity:hover
{
    color: orangered;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}