@font-face
{
  font-family: ProximaThin;
  src: url(../fonts/ProximaNovaThin.otf) format("truetype");
}


body
{
	margin: 0px;
	padding: 5%;
	background-color: white;
}

#logo
{
    text-align: center;
    font-family: ProximaThin;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 2%;
    letter-spacing: 2px;
}

#nav
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    font-family: ProximaThin;
    font-size: 30px;
    margin-bottom: 6%;
}

section
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.article
{
    display: flex;
    flex-direction: column;
    font-family: ProximaThin;
    font-size: 50px;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.6);
    max-width: 300px;
    min-height: 379px;
    overflow: visible;
}

#blog
{
    color: rgba(39, 39, 39, 0.4);
}

.caption
{
    text-align: center;
    font-size: 28px;
    margin: 0px;
}

.description
{
    font-size: 28px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 5px;
}

.article .box img
{
    width: 60px;
    height: 60px;
}

.box
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
}

.author
{
    text-align: left;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
    padding-left: 2px;
}

.date
{
    font-size: 24px;
    background-color: rgba(255, 0, 0, 0.8);
    color: black;
    padding: 2px 5px 2px 5px;
}



#logo a:link
{
    text-decoration: none;
    color: black;
}

#logo a:visited
{
    text-decoration: none;
    color: black;
}

#logo a:hover
{
    text-decoration: none;
    color: black;
}

#nav a:link
{
    text-decoration: none;
    color: rgb(39, 39, 39);
}

#nav a:visited
{
    text-decoration: none;
    color: rgb(39, 39, 39);
}

#nav a:hover
{
    text-decoration: none;
    color: rgba(39, 39, 39, 0.4);
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.article:link
{
    text-decoration: none;
}

.article:visited
{
    text-decoration: none;
}

.article:hover
{
    opacity: 0.8;
    text-decoration: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}