@font-face
{
  font-family: ProximaThin;
  src: url(../fonts/ProximaNovaThin.otf) format("truetype");
}


body
{
	margin: 0px;
	padding: 5%;
	background-color: white;
}

#logo
{
    text-align: center;
    font-family: ProximaThin;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 2%;
    letter-spacing: 2px;
}

#nav
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    font-family: ProximaThin;
    font-size: 30px;
    margin-bottom: 7%;
}

#content
{
    font-family: ProximaThin;
    font-size: 50px;
    color: #4C4C4C;
    text-align: center;
}

#contact
{
    color: rgba(39, 39, 39, 0.4);
}

#mail
{
    font-size: 56px;
}

form
{
    margin-top: 5%;
}

input[type=text]
{
    margin-top: 3%;
    font-family: ProximaThin;   
    font-size: 30px;
    width: 460px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 3px rgba(70, 70, 70, 0.8);
    outline: none;
}

input[type=text]:focus
{
    border-bottom: solid 3px #464646;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

::-webkit-input-placeholder
{
    color: #AAAAAA;
}

::-moz-placeholder
{
    color: #AAAAAA;
}

:-moz-placeholder
{
    color: #AAAAAA;
}

:-ms-input-placeholder
{
    color: #AAAAAA;
}

input[type=submit]
{
    font-family: ProximaThin;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #464646;
    opacity: 0.85;
    color: white;
    font-size: 28px;
    width: 480px; 
}

input[type=submit]:hover
{
    opacity: 1;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#logo a:link
{
    text-decoration: none;
    color: black;
}

#logo a:visited
{
    text-decoration: none;
    color: black;
}

#logo a:hover
{
    text-decoration: none;
    color: black;
}

#nav a:link
{
    text-decoration: none;
    color: rgb(39, 39, 39);
}

#nav a:visited
{
    text-decoration: none;
    color: rgb(39, 39, 39);
}

#nav a:hover
{
    text-decoration: none;
    color: rgba(39, 39, 39, 0.4);
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}