@font-face
{
  font-family: ProximaThin;
  src: url(../fonts/ProximaNovaThin.otf) format("truetype");
}


body
{
	margin: 0px;
	padding: 5%;
	background-color: white;
}

#logo
{
    text-align: center;
    font-family: ProximaThin;
    font-weight: bold;
    font-size: 46px;
    margin-bottom: 2%;
    letter-spacing: 2px;
}

#nav
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    font-family: ProximaThin;
    font-size: 20px;
    margin: 0% 22%;
    margin-bottom: 6%;
}

#content
{
    font-family: ProximaThin;
    font-size: 27px;
    color: #4C4C4C;
    text-align: center;
}

#contact
{
    color: rgba(39, 39, 39, 0.4);
}

#mail
{
    font-size: 32px;
}

form
{
    margin-top: 5.2%;
}

input[type=text]
{
    margin-top: 1.5%;
    font-family: ProximaThin;   
    font-size: 22px;
    width: 400px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid 3px #464646;
    outline: none;
}

input[type=text]:focus
{
    border-bottom: solid 3px #282828;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

::-webkit-input-placeholder
{
    color: #969696;
}

::-moz-placeholder
{
    color: #969696;
}

:-moz-placeholder
{
    color: #969696;
}

:-ms-input-placeholder
{
    color: #969696;
}

input[type=submit]
{
    margin-top: 1.2%;
    font-family: ProximaThin;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #464646;
    color: white;
    font-size: 20px;
    width: 420px; 
}

input[type=submit]:hover
{
    background-color: #282828;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


body::-webkit-scrollbar {
    width: 2px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(50, 50, 50);
}


#logo a:link
{
    text-decoration: none;
    color: black;
}

#logo a:visited
{
    text-decoration: none;
    color: black;
}

#logo a:hover
{
    text-decoration: none;
    color: black;
}

#nav a:link
{
    text-decoration: none;
    color: rgb(39, 39, 39);
}

#nav a:visited
{
    text-decoration: none;
    color: rgb(39, 39, 39);
}

#nav a:hover
{
    text-decoration: none;
    color: rgba(39, 39, 39, 0.4);
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}