#content
{    
    font-family: ProximaThin;
    font-size: 27px;
    color: #444444;
    line-height: 1.35em;
    letter-spacing: .05em;
    max-width: 700px;   
    margin: 0 auto;
}

#contact
{
    color: lightgrey;
}

input[type=text]
{
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5%;
    font-family: ProximaThin;   
    font-size: 22px;
    width: 500px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background: #ffffff;
    border: solid 1px #515151;
    outline: none;
    letter-spacing: .05em;
}

input[type=text]:focus
{
    background: #ffffff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#message
{ 
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5%;
    font-family: ProximaThin;   
    font-size: 22px;
    width: 500px;
    height: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    background: #ffffff;
    border: solid 1px #515151;
    outline: none;
    letter-spacing: .05em;
    resize: none;
}

input[type=text]:focus::-webkit-input-placeholder
{
    color: white;
}

#message:focus::-webkit-input-placeholder
{
    color: white;
}

::-webkit-input-placeholder
{
    color: #515151;
}

::-moz-placeholder
{
    color: #515151;
}

:-moz-placeholder
{
    color: #515151;
}

:-ms-input-placeholder
{
    color: #515151;
}

input[type=submit]
{
    display: block;
    margin: 0 auto;
    font-family: ProximaThin;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #515151;
    color: white;
    font-size: 20px;
    width: 522px; 
    padding-top: 2px;
    padding-bottom: 0px;
    height: 32px;
    letter-spacing: 5px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

input[type=submit]:hover
{
    background-color: #282828;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}