@font-face
{
  font-family: ProximaThin;
  src: url(../fonts/ProximaNovaThin.otf) format("truetype");
}


body
{
	margin: 0px;
	padding: 5%;
	background-color: white;
}

#logo
{
    text-align: center;
    font-family: ProximaThin;
    font-weight: bold;
    font-size: 46px;
    margin-bottom: 2%;
    letter-spacing: 2px;
}

#nav
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px;
    font-family: ProximaThin;
    font-size: 20px;
    margin: 0% 22%;
    margin-bottom: 6%;
}

section
{
    font-family: ProximaThin;
    font-size: 27px;
    color: #4C4C4C;
}

#cal ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#month
{
    background-color: #323232;
    padding: 1% 25px;
    text-align: center;
}

#month ul li
{
    color: white;
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#year
{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.9);
}

#month #prev
{
    position: relative;
    top: 6px;
    float: left;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.4);
}

#month #next 
{
    position: relative;
    top: 6px;
    float: right;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.4);
}

#weekdays
{
    margin: 0px;
    padding: 2px;
    margin-top: 2px;
    font-size: 17px;
}

#weekdays li
{
    display: inline-block;
    width: 13.6%;
    color: #4C4C4C;
    text-align: center;
    font-weight: bold;
}

#days 
{   
    padding-top: 6px;
    margin: 0px;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.05);
}

#days li
{
    display: inline-block;
    text-align: center;
    width: 13.6%;
    margin-bottom: 5px;
    color: #444444;
    font-size: 20px;
}

#days li #active
{
    padding: 2px;
    padding-bottom: 1px;
    background: #323232;
    color: white;
    border: solid 2px #323232;
}

#days li #event
{
    padding: 2px;
    padding-bottom: 1px;
    border: solid 2px #00BF11;
}

#events
{
    color: rgba(39, 39, 39, 0.4);
}


body::-webkit-scrollbar {
    width: 2px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(50, 50, 50);
}


#logo a:link
{
    text-decoration: none;
    color: black;
}

#logo a:visited
{
    text-decoration: none;
    color: black;
}

#logo a:hover
{
    text-decoration: none;
    color: black;
}

#nav a:link
{
    text-decoration: none;
    color: rgb(39, 39, 39);
}

#nav a:visited
{
    text-decoration: none;
    color: rgb(39, 39, 39);
}

#nav a:hover
{
    text-decoration: none;
    color: rgba(39, 39, 39, 0.4);
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}