#content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.profile
{
    width: 210px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.profile img
{
    height: 100%;
    position: absolute;
}

.text
{
    font-family: ProximaThin;
    font-size: 22px;
    color: rgba(255, 255, 255, 0);
    position: absolute;
    text-align: center;
}

#people
{
    color: lightgrey;
}

/* LINKS - TRANSITIONS - DECORATIONS */

.profile .text
{
    color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.24s linear;
    -moz-transition: all 0.24s linear;
    -o-transition: all 0.24s linear;
    transition: all 0.24s linear;
}

.profile:hover .text
{
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all 0.24s linear;
    -moz-transition: all 0.24s linear;
    -o-transition: all 0.24s linear;
    transition: all 0.24s linear;
}

.profile img
{
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    -webkit-transition: all 0.24s linear;
    -moz-transition: all 0.24s linear;
    -o-transition: all 0.24s linear;
    transition: all 0.24s linear;
}


.profile:hover img
{
    -webkit-filter: brightness(56%);
    filter: brightness(56%);
    -webkit-transition: all 0.24s linear;
    -moz-transition: all 0.24s linear;
    -o-transition: all 0.24s linear;
    transition: all 0.24s linear;
}