@font-face
{
  font-family: ProximaThin;
  src: url(../fonts/ProximaNovaThin.otf) format("truetype");
}


body
{
	margin: 0px;
	padding: 5%;
	background-color: white;
}

#logo
{
    text-align: center;
    font-family: ProximaThin;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 2%;
    letter-spacing: 2px;
}

#nav
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    font-family: ProximaThin;
    font-size: 25px;
    margin-bottom: 6%;
}

#content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile
{
    width: 210px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.profile img
{
    height: 100%;
    position: absolute;
}

.text
{
    font-family: ProximaThin;
    font-size: 22px;
    color: rgba(255, 255, 255, 0);
    position: absolute;
    text-align: center;
    padding: 5%;
}

#people
{
    color: rgba(39, 39, 39, 0.4);
}


body::-webkit-scrollbar {
    width: 2px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(50, 50, 50);
}


#logo a:link
{
    text-decoration: none;
    color: black;
}

#logo a:visited
{
    text-decoration: none;
    color: black;
}

#logo a:hover
{
    text-decoration: none;
    color: black;
}

#nav a:link
{
    text-decoration: none;
    color: rgb(39, 39, 39);
}

#nav a:visited
{
    text-decoration: none;
    color: rgb(39, 39, 39);
}

#nav a:hover
{
    text-decoration: none;
    color: rgba(39, 39, 39, 0.4);
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.profile:hover .text
{
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.24s linear;
    -moz-transition: all 0.24s linear;
    -o-transition: all 0.24s linear;
    transition: all 0.24s linear;
}